<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark px-3">
    <span class="navbar-text">
            <a class="fw-bold" id="header"></a>
            <a id="headerRoles"></a>
    </span>
    <span class="navbar-nav justify-content-end">
        <a class="nav-link" href="/logout">Logout</a>
    </span>
</nav>

<div style="height: inherit" class="container-fluid">
    <div class="row vh-100">

        <nav style="padding: 0;" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a style="text-align: left; color: white" class="nav-link active btn btn-primary" role="button"
                           data-toggle="button"
                           href="/admin">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a style="text-align: left" class="nav-link btn" role="button" data-toggle="button"
                           href="/user">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main style="background: #F8F9FA" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>

            <div class="col-12 pt-md-3 bg-light vh-100">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="adminPanel">
                        <h1>Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="navTab">
                                <a class="nav-link active" data-bs-toggle="tab" href="#usersTable">Users table</a>
                                <a class="nav-link" data-bs-toggle="tab" href="#newUser" id="new-user-tab">New User</a>
                            </div>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="usersTable">
                                <div class="card">
                                    <div class="card-header"><h4>All users</h4></div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Lastname</th>
                                                <th>Age</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Add new user</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <form class="form-container" id="addForm">
                                            <div style="width: 500px; text-align: center; margin-left: auto; margin-right: auto">
                                                <label for="addUsername" class="fs-5 fw-bold pb-0 pt-2">Username</label>
                                                <input type="text" class="form-control" id="addUsername"
                                                       placeholder="username" required>
                                                <label for="addLastName" class="fs-5 fw-bold pb-0 pt-2">Lastname</label>
                                                <input type="text" class="form-control" id="addLastName"
                                                       placeholder="lastName" required>
                                                <label for="addAge" class="fs-5 fw-bold pb-0 pt-2">Age</label>
                                                <input type="number" class="form-control" id="addAge"
                                                       placeholder="age" required>
                                                <label for="addPassword" class="fs-5 fw-bold pb-0 pt-2">Password</label>
                                                <input type="password" class="form-control" id="addPassword"
                                                       placeholder="Password" required>
                                                <label for="addRole" class="fs-5 fw-bold pb-0 pt-2">Role</label>
                                                <select class="custom-select form-control" size="2" id="addRole"
                                                        multiple required>
                                                </select>
                                                <button class="btn btn-success btn-lg my-2" type="submit">
                                                    Add new user
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form class="form-container" id="editForm">
                                            <div class="modal-body text-center">
                                                <div class="form-group m-auto col-md-6">
                                                    <label for="editId" class="fs-5 fw-bold pb-0 pt-2">ID</label>
                                                    <input type="number" class="form-control" id="editId"
                                                           readonly>
                                                    <label for="editUsername"
                                                           class="fs-5 fw-bold pb-0 pt-2">Username</label>
                                                    <input type="text" class="form-control" id="editUsername"
                                                           required>
                                                    <label for="editLastName"
                                                           class="fs-5 fw-bold pb-0 pt-2">Lastname</label>
                                                    <input type="text" class="form-control" id="editLastName"
                                                           required>
                                                    <label for="editAge" class="fs-5 fw-bold pb-0 pt-2">Age</label>
                                                    <input type="number" class="form-control" id="editAge"
                                                           required>
                                                    <label for="editPassword"
                                                           class="fs-5 fw-bold pb-0 pt-2">Password</label>
                                                    <input type="password" class="form-control" id="editPassword"
                                                           required>
                                                    <label for="editRole" class="fs-5 fw-bold pb-0 pt-2">Role</label>
                                                    <select class="custom-select form-control" size="2"
                                                            id="editRole" multiple required>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn btn-primary"
                                                        aria-pressed="true">Edit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="deleteModalLabel">Delete user</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form class="form-container">
                                            <div class="modal-body text-center">
                                                <div class="form-group m-auto col-md-6">
                                                    <label for="deleteId" class="form-label"><b>ID</b></label>
                                                    <input class="form-control" type="text" id="deleteId" readonly>
                                                    <br>
                                                    <label for="deleteUsername" class="form-label"><b>Username</b></label>
                                                    <input class="form-control" type="text" id="deleteUsername" readonly>
                                                    <br>
                                                    <label for="deleteLastName" class="form-label"><b>Lastname</b></label>
                                                    <input class="form-control" type="text" id="deleteLastName" readonly>
                                                    <br>
                                                    <label for="deleteAge" class="form-label"><b>Age</b></label>
                                                    <input class="form-control" type="text" id="deleteAge" readonly>
                                                    <br>
                                                    <label for="deleteRole" class="form-label"><b>Role</b></label>
                                                    <select class="custom-select form-control" size="2" multiple aria-label="multiple select example" id="deleteRole" readonly>
                                                    </select>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn btn-danger"
                                                        aria-pressed="true">Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="../static/admin.js"></script>
</body>
</html>