<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User Form</title>
</head>
<body>
<h1>Create user</h1>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <p>
        <label for="firstName">Enter name:</label>
        <input type="text" required th:field="*{username}" id="firstName" placeholder="name">
    </p>
    <p>
        <label for="lastName">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="last name">
    </p>
    <p>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age" placeholder="age">
    </p>
    <p>
        <label for="pw">Enter password:</label>
        <input type="password" required th:field="*{password}" id="pw" placeholder="password">
    </p>
    Select roles of the user:
    <p>
        <input type="checkbox" id="user" name="roles" value="ROLE_USER" checked><label for="user"> User</label>
        <br/>
        <input type="checkbox" id="admin" name="roles" value="ROLE_ADMIN"><label for="admin"> Administrator</label>
    </p>
    <input type="submit" value="Save user"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit">Log Out</button>
</form>
</body>
</html>