<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <p>
        <label for="firstName">Enter first name:</label>
        <input type="text" required th:field="*{username}" id="firstName">
    </p>
    <p>
        <label for="lastName">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName">
    </p>
    <p>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age">
    </p>
    <p>
        <label for="pw">Enter password</label>
        <input type="password" th:field="*{password}" id="pw" placeholder="password">
    </p>
    <p>
        <input type="checkbox" id="user" name="roles" value="ROLE_USER" th:checked="${user.getRoles().contains(roleUser)}">
        <label for="user"> User</label>
        <br/>
        <input type="checkbox" id="admin" name="roles" value="ROLE_ADMIN" th:checked="${user.getRoles().contains(roleAdmin)}">
        <label for="admin"> Administrator</label>
    </p>
    <input type="submit" value="Update user"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit">Log Out</button>
</form>
</body>
</html>