<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">

    <br>

    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <br>

    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login">

    <br>

    <input type="submit" value="Update">
  </div>
</form>
</body>
</html>