<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:align="center">
    <h1>User Info</h1>
    <div>
        <table th:border="2" th:cellpadding="15">
            <thead>
            <tr>
                <td>Id</td>
                <td th:utext="${user.getId()}">Id</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td th:utext="${user.getUsername()}">Name</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td th:utext="${user.getLastName()}">Last Name</td>
            </tr>
            <tr>
                <td>Age</td>
                <td th:utext="${user.getAge()}">Age</td>
            </tr>
        </table>
    </div>
    <br/><br/>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:if="user" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete user"/>
        </form>
        <br/>
        <a th:href="@{/admin/{id}/update(id=${user.getId()})}">
            <input type="button" value="Edit user"/>
        </a>
        <h4>
            <a href="/admin">
                <input type="button" value="View all users">
            </a>
        </h4>
    </div>

    <form th:method="POST" th:action="@{/logout}">
        <button type="submit">Log Out</button>
    </form>
</div>
</body>
</html>