<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>Table cars</h1>

<table border="1">
    <tr>
        <th>modelCar</th>
        <th>color</th>
        <th>series</th>
    </tr>

    <tr th:each="lst : ${list}">
        <td th:utext="${lst.modelCar}">modelCar</td>
        <td th:utext="${lst.color}">color</td>
        <td th:utext="${lst.series}">series</td>
    </tr>

</table>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <th:block th:each="msg : ${cars}">-->
<!--        <h1 th:text="${msg}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->