<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Login</th>
  </tr>
  <tr>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getLastName()}"></td>
    <td th:text="${user.getLogin()}"></td>
  </tr>
</table>

<a th:href="@{/users/{id}/update(id=${user.getId()})}">Update user</a>

<form th:method="DELETE" th:action="@{/users/delete/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>